.claude/
obj/
bin/

# Local data directory
/data/

# Cargo
.cargo-home/

# Ruby Gems
Gemfile.lock
bundle/

# golang
.gopath/

# npm
node_modules/

# nuget
.packages/

# cargo
.cargo-home/

# maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.m2/